@if (User.Identity?.IsAuthenticated == true)
{

    <a class="dropdown-item text-decoration-none" asp-controller="Auth" asp-action="Logout">Logout</a>
}
else
{
    <a class="dropdown-item text-decoration-none" asp-controller="Auth" asp-action="Login">Login</a>
    <a class="dropdown-item text-decoration-none" asp-controller="Auth" asp-action="Register">Register</a>
}
