
@if (User.Identity?.IsAuthenticated == true)
{
    <ul class="nav-bar ms-auto">
        <li>
            <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="nav-bar ms-auto">
        <li>
            <a class="dropdown-item" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
    </ul>
}
