@model ArchtistStudio.Modules.About.InsertAboutRequest

<div>
    <h4 class="font-weight-bold py-3 mb-4">
        Insert Platform
    </h4>
    <div class="row pt-2">
        <div class="col-md-12">
            <form asp-controller="about" asp-action="insert" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <div class="row m-1">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Since" class="control-label"></label>
                            <textarea asp-for="Since" class="form-control" rows="5" placeholder="Since" ></textarea>
                            <span asp-validation-for="Since" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="We" class="control-label"></label>
                            <textarea asp-for="We" class="form-control" rows="5" placeholder="We" ></textarea>
                            <span asp-validation-for="We" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Version" class="control-label"></label>
                            <textarea asp-for="Version" class="form-control" rows="5" placeholder="Version" ></textarea>
                            <span asp-validation-for="Version" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Service" class="control-label"></label>
                            <textarea asp-for="Service" class="form-control" rows="5" placeholder="Service" ></textarea>
                            <span asp-validation-for="Service" class="text-danger"></span>
                        </div>
                    </div>      
                </div>
                   <div class="row m-1">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Process" class="control-label"></label>
                            <textarea asp-for="Process" class="form-control" rows="5" placeholder="Process" ></textarea>
                            <span asp-validation-for="Process" class="text-danger"></span>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ImagePath" class="control-label"></label>
                            <input type="file" asp-for="ImagePath" class="form-control" placeholder="Upload Image" />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end m-2">
                    <button type="submit" class="btn btn-primary m-2">Save changes</button>
                    <button type="Cancel" class="btn btn-dark m-2">
                        <a class="text-white text-decoration-none" asp-controller="about"
                            asp-action="gets">Cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>