.auth-container{
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}
.auth-box{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0,3);
    max-width: 500px;
    width: 100%;
    opacity: .9;
}
